/LAPACK_version.c
/Makefile
/dlamch.c
/dlamchtst.c
/dsecnd.c
/dsecndtst.c
/ilaver.c
/lawn81.pdf
/lawn81.tex
/lsame.c
/lsametst.c
/psfig.tex
/second.c
/secondtst.c
/slamch.c
/slamchtst.c
/testdlamch
/testdsecnd
/testieee
/testlsame
/testsecond
/testslamch
/testversion
/tstiee.c
