/Axb.c
/Axb_core.c
/CMakeLists.txt
/CMakeLists.txt~
/LICENSE
/Makefile
/Makefile.icc
/Makefile.vc
/README.txt
/compiler.h
/expfit.c
/levmar.h
/levmar.h.in
/lm.c
/lm.h
/lm_core.c
/lm_core.c~
/lmbc.c
/lmbc_core.c
/lmblec.c
/lmblec_core.c
/lmbleic.c
/lmbleic_core.c
/lmdemo.c
/lmlec.c
/lmlec_core.c
/misc.c
/misc.h
/misc_core.c
