/Makefile
/clagge.c
/claghe.c
/clagsy.c
/clahilb.c
/clakf2.c
/clarge.c
/clarnd.c
/claror.c
/clarot.c
/clatm1.c
/clatm2.c
/clatm3.c
/clatm5.c
/clatm6.c
/clatme.c
/clatmr.c
/clatms.c
/clatmt.c
/dlagge.c
/dlagsy.c
/dlahilb.c
/dlakf2.c
/dlaran.c
/dlarge.c
/dlarnd.c
/dlaror.c
/dlarot.c
/dlatm1.c
/dlatm2.c
/dlatm3.c
/dlatm5.c
/dlatm6.c
/dlatm7.c
/dlatme.c
/dlatmr.c
/dlatms.c
/dlatmt.c
/slagge.c
/slagsy.c
/slahilb.c
/slakf2.c
/slaran.c
/slarge.c
/slarnd.c
/slaror.c
/slarot.c
/slatm1.c
/slatm2.c
/slatm3.c
/slatm5.c
/slatm6.c
/slatm7.c
/slatme.c
/slatmr.c
/slatms.c
/slatmt.c
/zlagge.c
/zlaghe.c
/zlagsy.c
/zlahilb.c
/zlakf2.c
/zlarge.c
/zlarnd.c
/zlaror.c
/zlarot.c
/zlatm1.c
/zlatm2.c
/zlatm3.c
/zlatm5.c
/zlatm6.c
/zlatme.c
/zlatmr.c
/zlatms.c
/zlatmt.c
