/CMakeLists.txt
/Makefile
/Makefile.w32
/README.txt
/bt3.m
/expfit.m
/hs01.m
/jacbt3.m
/jacexpfit.m
/jachs01.m
/jacmeyer.m
/jacmodhs38.m
/jacmodhs52.m
/jacmodhs76.m
/jacosborne.m
/levmar.c
/levmar.m
/lmdemo.m
/meyer.m
/modhs38.m
/modhs52.m
/modhs76.m
/mods235.m
/osborne.m
